.footer{
	text-align: center;
	font-size:14px;
	color: black;
	background-position: center;
	background-color: #fff9;
	padding-top: 15px;
	padding-bottom: 20px;
	position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 40px;
}
.lyrics{
	font-family: Avenir;
	font-size: 18px;
	color: white;
	background-position: center;
	background-color: #e91c1c80;
	margin-left: 400px;
	margin-right: 400px;
	margin-top: 40px;
	padding: 10px;
	width: 50%;
}
.verse1{
	text-align: left;
	margin-left: 7.5px;
	width: 520px;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	padding: 0px 5px 0px 7.5px;
}
.verse1:hover{
	background-color: #0006;
	margin-left: 7.5px;
	padding-left: 7.5px;
	width: 520px;
}
.verse2{
	text-align: right;
	margin-right: 10px;
	width: 475px;
	margin-left: 330px;
	margin-top: -8px;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	padding: 0px 10px 0px 7.5px;

}
.verse2:hover{
	background-color: #0006;
	padding-right: 10px;
	width: 475px;
}
.chorus1{
	text-align: left;
	margin-left: 7.5px;
	width: 448px;
	margin-top: -8px;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	padding: 0px 5px 0px 7.5px;

}
.chorus1:hover{
	background-color: #0006;
	margin-left: 7.5px;
	padding-left: 7.5px;
	width: 448px;
}
.chorus2{
	text-align: right;
	margin-right: 10px;
	width: 445px;
	margin-left: 360px;
	margin-top: -8px;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
	padding: 0px 10px 0px 7.5px;
}
.chorus2:hover{
	background-color: #0006;
	padding-right: 10px;
	width: 445px;

}
.refrain{
	text-align: center;
	margin-left: 228px;
	width: 370px;
	padding: 2px;
	margin-top: -8px;
	transition: background-color 1s;
	-webkit-transition: background-color 1s;
}
.refrain:hover{
	background-color: #0006;
	padding: 2px;
}
.songinfo{
	font-family: test;
	position: fixed;
    left: 145px;
    right: 0;
    top: 19px;
    height: 40px;
    color: white;
    width: 250px;
}
.title{
	font-family: Avenir, sans-serif;
	font-size: 40px;
}

.info{
	font-family: Avenir, sans-serif;
	font-size: 22px;
	margin-left: 25px;
	margin-top: -28px;
}
.video{
	position: fixed;
    left: 140px;
    right: 0;
    top: 410px;
    height: 40px;
}
ol{
	margin-left: 25px;
	font-family: Avenir, sans-serif;
}
a{
	color: white;
}
a:visited{
	color: white;
}
body{
    background-image: url('https://www.relix.com/images/uploads/about/81-RisvC+wL._SL1500__.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}